{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="container">
    <!-- <div class="row"> -->
      <div class="col-lg-8 map-column">
        <div id="map"></div>
        </div>
      <div class="col-lg-4 sidebar-column">
          <div class="row schedule-selector panel-default">
            <div class="panel-heading panel-title">
            <h3 class="section-title-text">Select Trip Options</h3>
            </div>
            <div class="panel-body">
              <h4 class="schedule-header">Hotels</h4>
                <div class="dropdown-group">
                  <select name="hotels">
                    {% for hotel in hotels%}
                      <option value="{{hotel.name}}">{{hotel.name}}</option>
                    {% endfor %}
                  </select>
                  <button type="button" class="btn btn-sm btn-success">Add
                  </button>
                </div>

              <h4 class="schedule-header">Restaurants</h4>
                <div class="dropdown-group">
                  <select name="restaurants">
                    {% for restaurant in restaurants%}
                      <option value="{{restaurant.name}}">{{restaurant.name}}</option>
                    {% endfor %}
                  </select>
                  <button type="button" class="btn btn-sm btn-success">Add
                  </button>
                </div>

              <h4 class="schedule-header">Activities</h4>
                <div class="dropdown-group">
                  <select name="activities">
                    {% for activity in activities%}
                      <option value="{{activity.name}}">{{activity.name}}</option>
                    {% endfor %}
                  </select>
                  <button type="button" class="btn btn-sm btn-success">Add
                  </button>
                </div>
              </div>
          </div>
          <div class="row schedule panel-default">
            <div class="panel panel-heading">
            <h3 class="section-title-text">Day One</h3>
            <button type="button" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-trash"></span>&nbsp;
            </button>
                <div class="btn-group btn-group-sm pull-right" role="group">
                  <button class="btn btn-default">1</button>
                  <button class="btn btn-default">2</button>
                  <button class="btn btn-default">3</button>
                  <button class="btn btn-default">+</button>
                </div>
            </div>
            <div class="panel-body">
                <div>
                  <h4 class="schedule-header">My Hotel</h4>
                  <p>Placeholder hotel</p>
                </div>
                <hr/>
                <div>
                  <h4 class="schedule-header">My Restaurants</h4>
                  <p>Placeholder restaurant 1</p>
                  <p>Placeholder restaurant 2</p>
                </div>
                <hr/>
                <div>
                  <h4 class="schedule-header">My Activities</h4>
                  <p>Placeholder acvitity 1</p>
                  <p>Placeholder acvitity 2</p>
                  <p>Placeholder acvitity 3</p>
                  <p>Placeholder activity 4</p>
                </div>
            <!-- </div> -->
            </div>
          </div>
      </div>

    <!-- </div> -->
  </div>
</div>
{% endblock %}
