{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="container">
    <!-- <div class="row"> -->
      <div class="col-lg-8 map-column">
        <div id="map"></div>
        </div>
      <div class="col-lg-4 sidebar-column">
          <div class="row schedule-selector">
              <h4 class="schedule-header">Hotels</h4>
                <div class="dropdown-group">
                  <select name="hotels">
                    {% for hotel in hotels%}
                      <option value="{{hotel.name}}">{{hotel.name}}</option>
                    {% endfor %}
                  </select>
                  <button class="btn glyphicon glyphicon-plus">
                  </button>
                </div>

              <h4 class="schedule-header">Restaurants</h4>
                <div class="dropdown-group">
                  <select name="restaurants">
                    {% for restaurant in restaurants%}
                      <option value="{{restaurant.name}}">{{restaurant.name}}</option>
                    {% endfor %}
                  </select>
                  <button class="btn glyphicon glyphicon-plus">
                  </button>
                </div>

              <h4 class="schedule-header">Activities</h4>
                <div class="dropdown-group">
                  <select name="activities">
                    {% for activity in activities%}
                      <option value="{{activity.name}}">{{activity.name}}</option>
                    {% endfor %}
                  </select>
                  <button class="btn glyphicon glyphicon-plus">
                  </button>
                </div>
          </div>
          <div class="row day">
            <h3>Day One</h3>
            <button class="btn btn-default">X</button>
          </div>
          <div class="row schedule">
                <div class="btn-group" role="group">
                  <button class="btn btn-default">1</button>
                  <button class="btn btn-default">2</button>
                  <button class="btn btn-default">3</button>
                  <button class="btn btn-default">+</button>
                </div>
                <div>
                  <h4 class="schedule-header">My Hotel</h4>
                  <p>Placeholder hotel</p>
                </div>

                <div>
                  <h4 class="schedule-header">My Restaurants</h4>
                  <p>Placeholder restaurant 1</p>
                  <p>Placeholder restaurant 2</p>
                </div>

                <div>
                  <h4 class="schedule-header">My Activities</h4>
                  <p>Placeholder acvitity 1</p>
                  <p>Placeholder acvitity 2</p>
                  <p>Placeholder acvitity 3</p>
                  <p>Placeholder activity 4</p>
                </div>
          </div>
      </div>

    <!-- </div> -->
  </div>
</div>
{% endblock %}
